<h1>{{ title }}</h1>

<app-search-input (filteredSearch)="getFilteredSearchValue($event)"/>

<div class="filter-test">
    <p>
        {{ filteredSearch }}
    </p>
</div>

<ul>
    <li *ngFor="let star of filteredFixedStars; index as i" (click)="toggleShowStarContent(i)" 
        [ngClass]="clickedIndexes[i] === true? 'space-around' : ''">
        <span> <img src="../assets/svg/star.svg"/> {{ star.name }}</span>

        <div *ngIf="clickedIndexes[i] === true">
            <article>
                <p *ngFor="let paragraph of star.description">
                    {{ paragraph }}
                </p>
            </article>
        </div>
    </li>
</ul>